/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  display: grid;
  grid-template-columns: auto repeat(5, 1fr);
  grid-template-rows: auto repeat(3, 1fr) auto;
  grid-template-areas:
    "header header header header header header"
    "sidebar content content content plot plot"
    "sidebar content content content plot plot"
    "sidebar content content content test test"
    "footer footer footer footer footer footer";
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

div.plot {
  grid-area: plot;
}
